name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    # if: "!startsWith(github.event.head_commit.message, 'v')" # Skip if commit message starts with 'v'
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [22, 24, 25]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          package_json_file: ./test/package.json # read "packageManager" configuration and find it empty
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r ./packages/vovk-python/requirements.txt

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci
          npm --prefix test ci

      - name: Run tests
        run: NODE_OPTIONS="--max-old-space-size=4096" npm t
